<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<header>
    <div>
        <img src="/static/logo.jpeg" class="logo">
    </div>
    <div style="position: relative; margin: auto;">
        <form class="search" action="/<prices>/<prices1>" method="POST">
            <input type="text" name="content" id="content" class="searchbar">
            <button class="click">
                <ion-icon name="search-outline"></ion-icon>
            </button>
        </form>
    </div>
    <div>
        <ul>
            <li><a href="/protected">Home</a></li>
            <!--		<li><a href="#">Manage Account</a></li>-->
            <!--		<li><a href="#"><ion-icon name="cart-outline"></ion-icon> Cart</a></li>-->
        </ul>
    </div>
</header>
<section>
  cart is empty
</section>
</body>
</html>